<<<<<<< 55da757d912e0737902a8791ef91e5d37479124e
body,
button {
    font-family: Dosis, Georgia, serif
}

a,
a.phone-number {
    text-decoration: none
}

-nav-item,
.nav a {
    transition: .4s ease all
}

body {
    background: #4c4c4c;
    background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0, rgba(102, 102, 102, 1) 9%, rgba(102, 102, 102, 1) 9%, rgba(89, 89, 89, 1) 16%, rgba(71, 71, 71, 1) 20%, rgba(0, 0, 0, 1) 37%, rgba(0, 0, 0, 1) 37%, rgba(17, 17, 17, 1) 60%, rgba(44, 44, 44, 1) 69%, rgba(44, 44, 44, 1) 69%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 94%, rgba(19, 19, 19, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0, rgba(102, 102, 102, 1) 9%, rgba(102, 102, 102, 1) 9%, rgba(89, 89, 89, 1) 16%, rgba(71, 71, 71, 1) 20%, rgba(0, 0, 0, 1) 37%, rgba(0, 0, 0, 1) 37%, rgba(17, 17, 17, 1) 60%, rgba(44, 44, 44, 1) 69%, rgba(44, 44, 44, 1) 69%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 94%, rgba(19, 19, 19, 1) 100%);
    background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0, rgba(102, 102, 102, 1) 9%, rgba(102, 102, 102, 1) 9%, rgba(89, 89, 89, 1) 16%, rgba(71, 71, 71, 1) 20%, rgba(0, 0, 0, 1) 37%, rgba(0, 0, 0, 1) 37%, rgba(17, 17, 17, 1) 60%, rgba(44, 44, 44, 1) 69%, rgba(44, 44, 44, 1) 69%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 94%, rgba(19, 19, 19, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
    background-attachment: fixed;
    color: #fff
=======
body {
    background: rgb(76, 76, 76);
    background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(102, 102, 102, 1) 9%, rgba(102, 102, 102, 1) 9%, rgba(89, 89, 89, 1) 16%, rgba(71, 71, 71, 1) 20%, rgba(0, 0, 0, 1) 37%, rgba(0, 0, 0, 1) 37%, rgba(17, 17, 17, 1) 60%, rgba(44, 44, 44, 1) 69%, rgba(44, 44, 44, 1) 69%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 94%, rgba(19, 19, 19, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%, rgba(102, 102, 102, 1) 9%, rgba(102, 102, 102, 1) 9%, rgba(89, 89, 89, 1) 16%, rgba(71, 71, 71, 1) 20%, rgba(0, 0, 0, 1) 37%, rgba(0, 0, 0, 1) 37%, rgba(17, 17, 17, 1) 60%, rgba(44, 44, 44, 1) 69%, rgba(44, 44, 44, 1) 69%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 94%, rgba(19, 19, 19, 1) 100%);
    background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0%, rgba(102, 102, 102, 1) 9%, rgba(102, 102, 102, 1) 9%, rgba(89, 89, 89, 1) 16%, rgba(71, 71, 71, 1) 20%, rgba(0, 0, 0, 1) 37%, rgba(0, 0, 0, 1) 37%, rgba(17, 17, 17, 1) 60%, rgba(44, 44, 44, 1) 69%, rgba(44, 44, 44, 1) 69%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 94%, rgba(19, 19, 19, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
    background-attachment: fixed;
    color: #fff;
    font-family: Dosis, Georgia, serif;
}

button {
    font-family: Dosis, Georgia, serif;
}

a {
    text-decoration: none;
>>>>>>> First commit
}

ul {
    list-style: none;
    padding: 0;
<<<<<<< 55da757d912e0737902a8791ef91e5d37479124e
    margin: 0
}

a.phone-number {
    font-size: 18px
}

.nav a {
    color: #adff2f
}

.nav a i.fa-envelope {
    color: #ff0
}

.nav-item:hover {
    -webkit-box-shadow: 7px 10px 5px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 7px 10px 5px 0 rgba(0, 0, 0, .75);
    box-shadow: 7px 10px 5px 0 rgba(0, 0, 0, .75)
=======
    margin: 0;
}

a.phone-number {
    font-size: 18px;
    text-decoration: none;
}

.nav a {
    color: greenyellow;
    transition: 0.4s ease all;
}

.nav a i.fa-envelope {
    color: yellow;
}

-nav-item {
    transition: 0.4s ease all;
}

.nav-item:hover {
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.75);
>>>>>>> First commit
}

header.main-header {
    padding: 1em;
<<<<<<< 55da757d912e0737902a8791ef91e5d37479124e
    border-bottom: 1px solid #ffa84c
}

section.main-profile {
    padding: 1em
=======
    border-bottom: 1px solid rgb(255, 168, 76);
}

section.main-profile {
    padding: 1em;
>>>>>>> First commit
}

.profile-text {
    font-size: 18px;
    padding: .3em;
<<<<<<< 55da757d912e0737902a8791ef91e5d37479124e
    margin: .5em 0
}

.modal {
    color: #000
=======
    margin: .5em 0;
}

.modal {
    color: black;
>>>>>>> First commit
}

.modal-content {
    background-color: #000;
<<<<<<< 55da757d912e0737902a8791ef91e5d37479124e
    color: #ffa84c;
    border: 1px solid #fff
=======
    color: rgb(255, 168, 76);
    border: 1px solid white;
>>>>>>> First commit
}

.modal .close {
    font-size: 30px;
<<<<<<< 55da757d912e0737902a8791ef91e5d37479124e
    font-weight: 700;
    color: red!important
}

.nav-tabs a,
table th {
    font-size: 22px
}

.feature i {
    margin: .5em
}

.features-zone {
    padding: .5em
}

.feature p {
    font-family: Oxygen, Verdana, serif
=======
    font-weight: bold;
    color: red !important;
}

.feature i {
    margin: .5em;
}

.features-zone {
    padding: .5em;
}

.feature p {
    font-family: Oxygen, Verdana, serif;
>>>>>>> First commit
}

div.list-wrapper {
    width: 100%;
    height: 100%;
<<<<<<< 55da757d912e0737902a8791ef91e5d37479124e
    border: 1px solid #fff;
    padding: 1em
}

a.email,
div.list-wrapper h3,
div.list-wrapper li {
    padding: .5em
}

table {
    margin: 2em 0
}

i.fa-whatsapp {
    color: #4dc247
=======
    border: 1px solid white;
    padding: 1em;
}

div.list-wrapper h3 {
    padding: .5em;
}

div.list-wrapper li {
    padding: .5em;
}

.nav-tabs a {
    font-size: 22px;
}

table {
    margin: 2em 0;
}

table th {
    font-size: 22px;
}

i.fa-whatsapp {
    color: #4dc247;
>>>>>>> First commit
}

a.email {
    font-size: 18px;
<<<<<<< 55da757d912e0737902a8791ef91e5d37479124e
    color: #ffa84c;
    font-weight: 700;
    line-height: 1.5em;
    margin: 1em
}

div.contact {
    margin-top: 20%
}

label {
    color: black
=======
    color: rgb(255, 168, 76);
    font-weight: bold;
    line-height: 1.5em;
    margin: 1em;
    padding: .5em;
}

div.contact {
    margin-top: 20%;
>>>>>>> First commit
}