/********************
  GENERAL STYLES
******************/

body {
    background: #4c4c4c;
    background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0, rgba(102, 102, 102, 1) 9%, rgba(102, 102, 102, 1) 9%, rgba(89, 89, 89, 1) 16%, rgba(71, 71, 71, 1) 20%, rgba(0, 0, 0, 1) 37%, rgba(0, 0, 0, 1) 37%, rgba(17, 17, 17, 1) 60%, rgba(44, 44, 44, 1) 69%, rgba(44, 44, 44, 1) 69%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 94%, rgba(19, 19, 19, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0, rgba(102, 102, 102, 1) 9%, rgba(102, 102, 102, 1) 9%, rgba(89, 89, 89, 1) 16%, rgba(71, 71, 71, 1) 20%, rgba(0, 0, 0, 1) 37%, rgba(0, 0, 0, 1) 37%, rgba(17, 17, 17, 1) 60%, rgba(44, 44, 44, 1) 69%, rgba(44, 44, 44, 1) 69%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 94%, rgba(19, 19, 19, 1) 100%);
    background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0, rgba(102, 102, 102, 1) 9%, rgba(102, 102, 102, 1) 9%, rgba(89, 89, 89, 1) 16%, rgba(71, 71, 71, 1) 20%, rgba(0, 0, 0, 1) 37%, rgba(0, 0, 0, 1) 37%, rgba(17, 17, 17, 1) 60%, rgba(44, 44, 44, 1) 69%, rgba(44, 44, 44, 1) 69%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 94%, rgba(19, 19, 19, 1) 100%);
    background-attachment: fixed;
    color: #fff;
}

body,
button {
    font-family: Dosis, Georgia, serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    margin: 2em 0;
}

label {
    color: black;
}


/******************
 MAIN PROFILE SECTION
*********************/

section.main-profile {
    padding: 1em;
    a.phone-number {
        font-size: 18px;
    }
    .profile-text {
        font-size: 18px;
        padding: .3em;
        margin: .5em 0;
    }
    .modal {
        color: #000
    }
    .modal-content {
        background-color: #000;
        color: #ffa84c;
        border: 1px solid #fff;
    }
    .modal .close {
        font-size: 30px;
        font-weight: 700;
        color: red!important;
    }
    a.email {
        padding: .5em;
    }
    i.fa-whatsapp {
        color: #4dc247;
    }
}


/****************
 NAVBAR AND ITEMS
******************/

.nav-item,
.nav a {
    transition: .4s ease all;
}

.nav a {
    color: #adff2f;
}

.nav a i.fa-envelope {
    color: #ff0;
}

.nav-item:hover {
    -webkit-box-shadow: 7px 10px 5px 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 7px 10px 5px 0 rgba(0, 0, 0, .75);
    box-shadow: 7px 10px 5px 0 rgba(0, 0, 0, .75);
}

header.main-header {
    padding: 1em;
    border-bottom: 1px solid #ffa84c;
}

.nav-tabs a,
table th {
    font-size: 22px;
}

.features-zone {
    padding: .5em;
}

.feature {
    i {
        margin: .5em;
    }
    p {
        font-family: Oxygen, Verdana, serif;
    }
}

div.list-wrapper {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    padding: 1em;
    h3,
    li {
        padding: .5em;
    }
}

a.email {
    font-size: 18px;
    color: #ffa84c;
    font-weight: 700;
    line-height: 1.5em;
    margin: 1em;
}

div.contact {
    margin-top: 20%;
}


/****************
 MESSAGES ZONE
**************/

.readed {
    transition: 0.3s ease all;
    opacity: 0.7;
    color: gray;
}

.readed:hover {
    opacity: 1;
}